<div class="filter_area">
	<div class="filter-box dashboard-box" style="display: none; padding-left:15px; padding-top: 0px;">
        <div class="clearfix row" style="padding-left:10px; border-bottom: 1px solid #d1d8dd; padding-bottom: 2px;">
            <div class="pull-left dropdown">
	            <a class="dropdown-toggle text-muted small" data-toggle="dropdown" 
	               aria-haspopup="true" aria-expanded="true" >
		            <span class="field_label">{{ __(field_label) }}</span><span class="caret"></span>
	            </a>
	            <ul class="dropdown-menu" style="margin-right: 10px;">
	                {% for value in dashboard_age_fields %}
		            <li><a class="age_fields" data-field="{{ value.fieldname }}">{{ __(value.label) }}</a></li>
	                {% endfor %}
	            </ul>
            </div>
            <div class="pull-left dropdown">
                <a class="dropdown-toggle text-muted small" data-toggle="dropdown" 
                   aria-haspopup="true" aria-expanded="true" style="padding-left: 10px;">
	                <span class="date_label">{{ __(date_label) }}</span><span class="caret"></span>
                </a>
	            <ul class="dropdown-menu" style="margin-right: 10px;">
                {% for value in dashboard_age_dates %}
	                <li><a class="age_dates" data-date="{{ value.label }}">{{ __(value.label) }}</a></li>
                {% endfor %}
	            </ul>
            </div>
        </div>
	    <div class="list-filter-dashboard row" style="padding-top: 5px;position: relative;">
		    <div class="filter-loading">
	            <div style="position: absolute;background-color:#e6e6e6;
	            top: 0px;left: 0px;bottom: 0px;right: 0px;z-index:99;opacity:0.2;"></div>
	            <div class="freeze-message"style="position: absolute; z-index: 99;
	              top: 50%;left: 50%;width: 100%;transform: translate(-50%, -50%);
	               -webkit-transform: translate(-50%, -50%);text-align: center;
	              opacity:1 !important;color: #36414C !important;">{{ __("Loading") }}</div>
	        </div>
		    <div class="filter-dashboard-items"></div>
	    </div>
    </div>
</div>